body{
background-color: #fafafa;
text-align: center;
font-family: "Times New Roman", Times, serif;
}

section{

  color: #212121;
  font-family: "Times New Roman", Times, serif;

}
button {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: #a5d6a7;
  color:#212121 ;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-family: "Times New Roman", Times, serif;

}
